<!DOCTYPE html>
<html>
<head>
  <title>ImageViewerRails</title>
  <%= stylesheet_link_tag    "image_viewer_rails", :media => "all" %>
  <%= javascript_include_tag "image_viewer_rails" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
